#topNav {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#origin, #dest, #stoploc {
	margin-left: 7px;
	margin-right: 7px;
	width: 350px;
}

#stopsec {
	display: none;
	padding-bottom: 10px;
}

#stopsel, #scrollNote {
	display: none;
}

#stoploc {
	font-weight: normal;
}

#map {
	height: 700px;
}

.selCol {
	width: 75px;
	text-align: center;
}

.distCol {
	width: 125px;
	text-align: center;
}